<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Tradium TV</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href={{ url_for('static', filename='dist/reset.css') }}>
		<link rel="stylesheet" href={{ url_for('static', filename='dist/reveal.css') }}>
		<link rel="stylesheet" href={{ url_for('static', filename='dist/simple.css') }} id="theme">
		<link rel="stylesheet" href={{ url_for('static', filename='css/custom_reveal.css')}}>
		<style>
			.playback { display: none; }
		</style>		
	</head>

	<body>

		<div class="reveal">
			<div class="slides">
				<section>
					<img src="https://tradium.dk/media/2420/logo_tradium_multifarve.png" style="height: 280px; margin: 0 auto 4rem auto" class="demo-logo">
				</section>

				<section>
					<p>Made by students from Montenegro with ❤️</p>
				</section>
				
				{% for slide in slides %}
				<section
					{% if slide.bgcolor is defined %}
					data-background-color = '{{slide.bgcolor}}'
					{%endif%}
				>
					<h2>{{slide.title}}</h2>
					<p>
						{{slide.description}}
					</p>
				</section>

				{%endfor%}
			</div>

			<section class="full">
				<p id="time" class="time"></p>
			</section>
		</div>
		

		<script type="text/javascript" src={{ url_for('static', filename='dist/reveal.js') }}></script>
		<script type="text/javascript" src={{ url_for('static', filename='plugin/moment.js') }}></script>

		<style>
			.time{
				font-size: 46px;
				bottom:25px;
				right:65px;
				position:absolute;
			}

		</style>

		<script>
			Reveal.initialize({
				controls: false,
				progress: true,
				center: true,
				hash: true,
				autoSlide: 4000,
				loop: true,
				height:"100%",
             			width:"100%"
			});
		</script>

		<script>
			moment.locale('de');

			// TV Info Script 
			startTimeTimeout();

			function startTimeTimeout(){
				var refresh_rate = 1000;

				setTimeout('updateTime()', refresh_rate);
			}

			function updateTime(){
				var date = moment().format('MMMM Do YYYY // h:mm a').toString();

				document.getElementById('time').innerHTML = date;
				startTimeTimeout();
			}
			
		</script>
	</body>
</html>

